[commit]
  gpgsign = true
[init]
  defaultBranch = main
[core]
  editor = vim
[user]
  email = 70550797+ckc-dev@users.noreply.github.com
  name = ckc-dev
[include]
  path = .gitconfig-user
  path = .gitconfig-safe-paths
