! Source theme. Leave only one uncommented. (Remember to check overrides.)
#include ".config/.xresources/themes/gruvbox-dark/theme"

! Source program specific files.
#include ".config/.xresources/i3"
#include ".config/.xresources/i3status"
#include ".config/.xresources/rofi"
#include ".config/.xresources/urxvt"

! Source theme overrides. Leave only overrides for currently selected theme uncommented.
